= simple_form_for([current_user, @cycle]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :max_bench
    = f.input :max_squat
    = f.input :max_deadlift
    = f.input :max_ohp

  .form-actions
    = f.button :submit
