= simple_form_for([current_user, @cycle]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :max_bench
    = f.input :max_squat
    = f.input :max_deadlift
    = f.input :max_ohp

    = f.label "Program"
    = f.select :program_type, [["5/3/1 BBB v1", "bbb"], ["5/3/1 Body Builder", "531bb"]]


  .form-actions
    = f.button :submit
