%h1 Listing cycles

%table
  %tr
    %th Max bench
    %th Max squat
    %th Max deadlift
    %th Max ohp
    %th User
    %th
    %th
    %th

  - @cycles.each do |cycle|
    %tr
      %td= cycle.max_bench
      %td= cycle.max_squat
      %td= cycle.max_deadlift
      %td= cycle.max_ohp
      %td= cycle.user.name
      %td= link_to 'Show', user_cycle_path(cycle.user, cycle)
      %td= link_to 'Edit', edit_user_cycle_path(cycle.user, cycle)
      %td= link_to 'Destroy', user_cycle_path(cycle.user, cycle), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Cycle', new_user_cycle_path if (can? :create, Cycle)
