%p
  %b Max bench:
  = @cycle.max_bench
%p
  %b Max squat:
  = @cycle.max_squat
%p
  %b Max deadlift:
  = @cycle.max_deadlift
%p
  %b Max ohp:
  = @cycle.max_ohp
%p
  %b Program Type:
  = @cycle.program_type

%div.row
  - @cycle.workouts.each do |workout|
    %div.span3
      %h2= workout.title
      - workout.lift_sets.each do |lift_set|
        %p
          = lift_set.reps
          = lift_set.exercise.name unless lift_set.exercise.nil?
          = lift_set.weight unless lift_set.weight == 0



= link_to 'Edit', edit_user_cycle_path(@cycle)
\|
= link_to 'Back', user_cycles_path
