%div.row
  %div.span12
    %div{:class => "workout #{@workout.completed? ? "completed" : "open"}"}
      %h3
        =link_to(@workout.title, workout_path(@workout))
        - if @workout.completed?
          %i.icon-ok-sign.icon-white
          = link_to("reopen", toggle_workout_user_mesocycle_path(@mesocycle.user.id, @mesocycle.id, @workout.id), :class => "pull-right btn btn-mini")
        - else
          = link_to("complete", toggle_workout_user_mesocycle_path(@mesocycle.user.id, @mesocycle.id, @workout.id), :class => "pull-right btn btn-mini")
      %ul
        - @workout.lift_sets.each do |lift_set|
          %li{:class => "#{lift_set.exercise.key}"}
            - if can? :update, @mesocycle
              %a.noteable{"data-toggle" => :modal, :href => "#note_#{lift_set.id}" }
                = render :partial => "mesocycles/lift_set", :locals => { :lift_set => lift_set }
                - if lift_set.note
                  %i.icon-list-alt.icon-white
              %div.note.modal.hide{:id => "note_#{lift_set.id}"}
                = render :partial => "lift_set/note", :locals => { :lift_set => lift_set }
            - else
              = render :partial => "lift_set", :locals => { :lift_set => lift_set }
              - if lift_set.note
                %a{"data-toggle" => :modal, :href => "#note_#{lift_set.id}" }
                  %i.icon-list-alt.icon-white
              %div.note.modal.hide{:id => "note_#{lift_set.id}"}
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"} ×
                  %h3 Lift Set note
                .modal-body
                  %p= lift_set.note
                .modal-footer
                  %a.btn{"data-dismiss" => "modal", :href => "#"} Close
  %div.span12
    %p.button-spacer
      =link_to("Back to mesocycle", user_mesocycle_path(@mesocycle.user, @mesocycle), :class => "btn btn-primary")
