= link_to "Stronger", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to("Cycles", cycles_path)
  - if user_signed_in?
    %li
      = link_to("Logout #{current_user.name}", signout_path, :method=>'delete')
  - else
    %li
      = link_to('Login', signin_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_path(current_user))
    - if current_user.has_role? :admin
      %li
        = link_to('Admin', users_path)
  - else
    %li
      = link_to('Sign up', signin_path)
